<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<head>
   		<meta charset="UTF-8">
		<title>Valokontrolli</title>
	</head>
	<body>
	<div ng-app="">
      	<br>
			<h3> RGB värikoodi {{r_color}}  {{g_color}} {{b_color}}</h3>
		<form action = "/color_code" method = "POST">
			RED: <input type = "text" name = "red" ng-model="r_color" placeholder="Väri välillä 0-256">  <br>
			GREEN: <input type = "text" name = "green" ng-model="g_color" placeholder="Väri välillä 0-256"> <br>
			BLUE: <input type = "text" name = "blue" ng-model="b_color" placeholder="Väri välillä 0-256">
			<input type = "submit" value = "Submit">
			
		</form>

		<br><br>
	<form action="/power_on" method="POST">
		<button type="submit"> Virta päälle</button>
	</form>
	<form action="/power_off" method="POST">
		<button type="submit"> Virta pois</button>
	</form>
	<form action="/start_rgb_loop" method="POST">
		<button type="submit"> Ledit päälle</button>
	</form>
	<form action="/stop_rgb_loop" method="POST">
		<button type="submit"> Ledit pois</button>
	</form>

	</div>
      
   </body>
</html>